/* @font-face {
  font-family: 'comicCondensed';
  src: url('~@assets/typography/SFComicScriptCondensed.ttf');
}

@font-face {
  font-family: 'comicShaded';
  src: url('~@assets/typography/SFComicScriptShaded.ttf');
}

@font-face {
  font-family: 'comix';
  src: url('~@assets/typography/ComixLoud.ttf');
}
 */